{% extends 'main/base.html' %}

{% block content %}

<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4>Change Password Page</h4>
                        </a>
                        
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="{%url 'changepassword' %}" method="post">
                                        {%csrf_token%}
                                        {% for message in messages %}
                                        <div class="alert alert-{{message.tags}}" role="alert">
                                            {{message}}
                                        </div>
                                        {% endfor %}

                                        <label for="">Enter New Password</label>
                                        <input type="password" name="newpassword" placeholder=" Enter New Password" />
                                        <div class="button-box">
                                            

                                            <button type="submit"><span>Change Password</span></button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}